---
layout: default
permalink: /404.html
---

<section class="lost-container">
  <h1>Uh oh!</h1>
  <div class="link">
    <img class="selfie" alt="{{ site.name }}" src="{{ site.url }}/assets/images/error.gif" />
  </div>
  <br />
  <br />
  <a href="{{ site.url }}/">Take me home!</a>
</section>
