<nav class="{% if page.id == "home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.id != "home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.actualites == true %}
            {% if page.id != "actualites" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/actualites">Actualités</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.departement == true %}
            {% if page.id != "departement" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/departement">Le département</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projets == true %}
            {% if page.id != "projets" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projets">Projets d'étudiant.e.s</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.ressources == true %}
            {% if page.id != "ressources" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/ressources">Ressources</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
